<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/studentDetails" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="First Name" name="firstname" required>
        <input type="text" placeholder="Middle Name" name="middlename" required>
        <input type="text" placeholder="Last Name" name="lastname" required>
        <input type="text" placeholder="Student ID" value="<%= student.studentID %>" name="studentID" required>
        <input type="text" placeholder="Batch" value="<%= student.batch %>" name="batch" required>
        <select name="myProgram" required>
            <option value="Select" selected>Select</option>

            <% for (var k=0; k <program.length; k++) { %>

                <% var x=program[k].degreeOffered.name ; %>
                    <% var y=program[k].branchOffered.name ; %>

                        <option value="<%= program[k].id %>">
                            <%= x + " " + y %>
                        </option>
                        <% } %>

        </select>
        <input type="date" placeholder="Date of Birth" name="dob" required>
        <input type="text" placeholder="Mobile number" name="mobileNO" required>
        <input type="email" placeholder="College email ID" value="<%= student.email %>" name="email" disabled>
        <input type="email" placeholder="Personal email ID" name="myemail" required>
        <input type="email" placeholder="Parent email ID" name="parentEmail" required>
        <div class="radio-checkbox-container">
            <p>Gender</p>
            <label> <input type="radio" id="male" name="gender" value="Male" required> <span>Male</span></label>
            <label> <input type="radio" id="female" name="gender" value="Female" required> <span>Female</span></label>
            <label> <input type="radio" id="other" name="gender" value="Other" required> <span>Other</span></label>
        </div>
        <input type="password" name="password" placeholder="New password" required>
        <input type="password" name="repassword" placeholder="Confirm password" required>
        <input type="number" name="height" placeholder="Height in centimeter" required>
        <input type="number" name="weight" placeholder="Weight in kilograms" required>
        <label for="bloodGroup">Blood group :</label>
            <select name="bloodGroup" id="bloodGroup">
                <option selected disabled>select</option>
                <option value="A Positive" > A Positive </option>
                <option value="A Negative" >A Negative</option>
                <option value="B Positive" >B Positive</option>
                <option value="B Negative" >B Negative</option>
                <option value="AB Positive" >AB Positive</option>
                <option value="AB Negative" >AB Negative</option>
                <option value="O Positive" >O Positive</option>
                <option value="O Negative" >O Negative</option>
            </select>
        <input type="text" name="address" placeholder="Residential address" required>
        <label for="picture">Select Picture:</label>
        <input type="file" name="picture" id="picture">
        <button type="submit">Submit</button>
    </form>
</body>

</html>