<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Instructor dashboard</title>
</head>
<body>
    <%- include('instructorNavbar') %>
    <!-- main body section -->
    <div class="main-body-top">
        <form action="/updateInstructor" method="post">
            <input type="text" placeholder="Full Name" value="<%= instructor.fullname %>" name="fullname" required>
            <input type="date" placeholder="Date of Birth" value="<%= instructor.dob %>"  name="dob" required>
            <input type="text" placeholder="Mobile number" name="mobileNO" value="<%= instructor.mobileNO %>"  required>
            <input type="email" placeholder="Personal email ID" name="myemail" value="<%= instructor.myemail%>" required>
                <p>Gender</p>
                <label> <input type="radio" id="male" name="gender" value="Male" required> <span>Male</span></label>
                <label> <input type="radio" id="female" name="gender" value="Female" required> <span>Female</span></label>
                <label> <input type="radio" id="other" name="gender" value="Other" required> <span>Other</span></label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>